# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)
<img src="../images/pokemon.jpg">
<img src="pokemon.jpg">

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import dataset
pokemon = pd.read_csv('data/Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [23]:
pokemon.describe()

,#,Total,HP,Attack,Defense,A/D_Ratio,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,1.164547,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,0.552604,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,0.043478,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,0.828771,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,1.074176,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,1.416667,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,9.000000,194.000000,230.000000,180.000000,6.00000

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# your code here
type1_column = pokemon["Type 1"].astype(str).unique() #I had to convert each column to strings
type2_column = pokemon["Type 2"].astype(str).unique()
type1_column

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [5]:
# pokemon["Type 1"].type()  # Do not know how to do this, to print the type

In [6]:
# pokemon[["Type 1","Type 2"]].unique()    # Alternative use Set()!!!
combined = np.concatenate((type1_column, type2_column))
distinct_values = np.unique(combined)
distinct_values

array(['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire',
       'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison',
       'Psychic', 'Rock', 'Steel', 'Water', 'nan'], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [7]:
# your code here
import re

# Function to replace words ending with 'Mega' 
def replace_with_mega(text):
    # Regex pattern to match any word ending with 'Mega'
    pattern = r'\b\w+Mega\b'
    
    # Replacement using re.sub
    # \2 captures the space and subsequent characters following the matched word
    result = re.sub(pattern, 'Mega', text)
    
    return result


# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [8]:
pokemon["Name"] = pokemon["Name"].apply(replace_with_mega)
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [9]:
# your code here

# pokemon['A/D_Ratio'] = pokemon['Attack'] / pokemon['Defense']  # This way the new column will be added after the last column
# I want to have it after 'Defence' so:

pokemon.insert(pokemon.columns.get_loc('Defense') + 1, 'A/D_Ratio', pokemon['Attack'] / pokemon['Defense'])
'''get_loc('B'): This function returns the index of column 'B'.
df.insert(): The first argument is the position where you want to insert the new column. 
By using get_loc('B') + 1, you specify the position right after 'B'.
Formula:  is directly calculated and assigned to the new column.
'''

pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,A/D_Ratio,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,1.000000,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,0.984127,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,0.987952,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,0.813008,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,1.209302,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,0.666667,100,150,50,6,True
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,1.454545,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,1.833333,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,2.666667,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,0.916667,130,90,70,6,True

#### Identify the pokemon with the highest `A/D Ratio`.

In [10]:
# your code here
pokemon_highest_AD = pokemon.nlargest(1, "A/D_Ratio")
# row_with_max_c = df.nlargest(1, 'C')
pokemon_highest_AD

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,A/D_Ratio,Sp. Atk,Sp. Def,Speed,Generation,Legendary
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,9.0,180,20,150,3,True

In [11]:
# your code here
pokemon = pokemon.sort_values(by='A/D_Ratio', ascending=False)
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,A/D_Ratio,Sp. Atk,Sp. Def,Speed,Generation,Legendary
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,9.000000,180,20,150,3,True
347,318,Carvanha,Water,Dark,305,45,90,20,4.500000,65,20,65,3,False
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,3.750000,15,80,145,1,False
453,408,Cranidos,Rock,NaN,350,67,125,40,3.125000,30,30,58,4,False
348,319,Sharpedo,Water,Dark,460,70,120,40,3.000000,95,40,95,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,0.285714,140,105,55,5,False
103,95,Onix,Rock,Ground,385,35,45,160,0.281250,30,45,70,1,False
484,436,Bronzor,Steel,Psychic,300,57,24,86,0.279070,24,86,23,4,False
139,129,Magikarp,Water,NaN,200,20,10,55,0.181818,15,20,80,1,False
230,213,Shuckle,Bug,Rock,505,20,10,230,0.043478,10,230,5,2,False

#### Identify the pokemon with the lowest A/D Ratio.

In [12]:
# your code here
pokemon_lowest_AD = pokemon.nsmallest(1, "A/D_Ratio")
# row_with_max_c = df.nlargest(1, 'C')
pokemon_lowest_AD

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,A/D_Ratio,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,0.043478,10,230,5,2,False

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [13]:
# your code here
"""
#This is one aproach:
# Create a new column 'Combo Type' with a '-' separator
pokemon['Combo Type'] = pokemon['Type 1'].str.cat(pokemon['Type 2'], sep='-')
"""

"\n#This is one aproach:\n# Create a new column 'Combo Type' with a '-' separator\npokemon['Combo Type'] = pokemon['Type 1'].str.cat(pokemon['Type 2'], sep='-')\n"

In [14]:
def combo_type(row):
    type1 = row['Type 1']
    type2 = row['Type 2']
    if pd.notna(type2):
        return f"{type1}-{type2}"
    else:
        return type1
    
pokemon['Combo Type'] = pokemon.apply(combo_type, axis=1)

# Determine the position to insert the 'Combo Type' column
position = pokemon.columns.get_loc('Type 2') + 1

# Insert the new column at the desired position
pokemon.insert(position, 'Combo Type', pokemon.pop('Combo Type'))


pokemon

,#,Name,Type 1,Type 2,Combo Type,Total,HP,Attack,Defense,A/D_Ratio,Sp. Atk,Sp. Def,Speed,Generation,Legendary
429,386,DeoxysAttack Forme,Psychic,NaN,Psychic,600,50,180,20,9.000000,180,20,150,3,True
347,318,Carvanha,Water,Dark,Water-Dark,305,45,90,20,4.500000,65,20,65,3,False
19,15,Mega Beedrill,Bug,Poison,Bug-Poison,495,65,150,40,3.750000,15,80,145,1,False
453,408,Cranidos,Rock,NaN,Rock,350,67,125,40,3.125000,30,30,58,4,False
348,319,Sharpedo,Water,Dark,Water-Dark,460,70,120,40,3.000000,95,40,95,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,555,DarmanitanZen Mode,Fire,Psychic,Fire-Psychic,540,105,30,105,0.285714,140,105,55,5,False
103,95,Onix,Rock,Ground,Rock-Ground,385,35,45,160,0.281250,30,45,70,1,False
484,436,Bronzor,Steel,Psychic,Steel-Psychic,300,57,24,86,0.279070,24,86,23,4,False
139,129,Magikarp,Water,NaN,Water,200,20,10,55,0.181818,15,20,80,1,False
230,213,Shuckle,Bug,Rock,Bug-Rock,505,20,10,230,0.043478,10,230,5,2,False

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [15]:
# your code here

pokemon_highest_AD = pokemon.nlargest(5, "A/D_Ratio")
# row_with_max_c = df.nlargest(1, 'C')
pokemon_highest_AD

,#,Name,Type 1,Type 2,Combo Type,Total,HP,Attack,Defense,A/D_Ratio,Sp. Atk,Sp. Def,Speed,Generation,Legendary
429,386,DeoxysAttack Forme,Psychic,NaN,Psychic,600,50,180,20,9.000,180,20,150,3,True
347,318,Carvanha,Water,Dark,Water-Dark,305,45,90,20,4.500,65,20,65,3,False
19,15,Mega Beedrill,Bug,Poison,Bug-Poison,495,65,150,40,3.750,15,80,145,1,False
453,408,Cranidos,Rock,NaN,Rock,350,67,125,40,3.125,30,30,58,4,False
348,319,Sharpedo,Water,Dark,Water-Dark,460,70,120,40,3.000,95,40,95,3,False

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [16]:
# your code here

unique_combo_types = pokemon_highest_AD['Combo Type'].unique().tolist()
unique_combo_types

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png()

In [17]:
filtered_pokemon = pokemon[pokemon['Combo Type'].isin(unique_combo_types)]

# Group by 'Combo Type' and calculate mean for numeric columns
mean_scores = filtered_pokemon.groupby('Combo Type').mean(numeric_only=True)
mean_scores

,#,Total,HP,Attack,Defense,A/D_Ratio,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Combo Type,,,,,,,,,,,
Bug-Poison,199.166667,347.916667,53.750000,68.333333,58.083333,1.315989,42.500000,59.333333,65.916667,2.333333,0.000000
Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,1.164196,98.552632,82.394737,78.868421,3.342105,0.236842
Rock,410.111111,409.444444,67.111111,103.333333,107.222222,1.260091,40.555556,58.333333,32.888889,3.888889,0.111111
Water-Dark,347.666667,493.833333,69.166667,120.000000,65.166667,2.291949,88.833333,63.500000,87.166667,3.166667,0.000000

In [18]:
# your code here
# I did this but was wrong 
pokemon[['Combo Type']].groupby('Combo Type').mean()

# df[["Department", "Age"]].groupby("Department").mean()

Empty DataFrame
Columns: []
Index: [Bug, Bug-Electric, Bug-Fighting, Bug-Fire, Bug-Flying, Bug-Ghost, Bug-Grass, Bug-Ground, Bug-Poison, Bug-Rock, Bug-Steel, Bug-Water, Dark, Dark-Dragon, Dark-Fighting, Dark-Fire, Dark-Flying, Dark-Ghost, Dark-Ice, Dark-Psychic, Dark-Steel, Dragon, Dragon-Electric, Dragon-Fairy, Dragon-Fire, Dragon-Flying, Dragon-Ground, Dragon-Ice, Dragon-Psychic, Electric, Electric-Dragon, Electric-Fairy, Electric-Fire, Electric-Flying, Electric-Ghost, Electric-Grass, Electric-Ice, Electric-Normal, Electric-Steel, Electric-Water, Fairy, Fairy-Flying, Fighting, Fighting-Dark, Fighting-Flying, Fighting-Psychic, Fighting-Steel, Fire, Fire-Dragon, Fire-Fighting, Fire-Flying, Fire-Ground, Fire-Normal, Fire-Psychic, Fire-Rock, Fire-Steel, Fire-Water, Flying, Flying-Dragon, Ghost, Ghost-Dark, Ghost-Dragon, Ghost-Fire, Ghost-Flying, Ghost-Grass, Ghost-Poison, Grass, Grass-Dark, Grass-Dragon, Grass-Fairy, Grass-Fighting, Grass-Flying, Grass-Ground, Grass-Ice, Grass-Poison, Grass-Psychic, Grass-Steel, Ground, Ground-Dark, Ground-Dragon, Ground-Electric, Ground-Fire, Ground-Flying, Ground-Ghost, Ground-Psychic, Ground-Rock, Ground-Steel, Ice, Ice-Flying, Ice-Ghost, Ice-Ground, Ice-Psychic, Ice-Water, Normal, Normal-Fairy, Normal-Fighting, Normal-Flying, Normal-Grass, Normal-Ground, Normal-Psychic, ...]

[154 rows x 0 columns]