# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [50]:
# Import libraries
import numpy as np
import pandas as pd

In [51]:
# Importing the dataset
# import dataset
pokemon = pd.read_csv('data/Pokemon.csv')
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [52]:
# your code here
# The code should be somehow similar to the one about A/D Ratio
pokemon.insert(pokemon.columns.get_loc('Total') + 1, 'Total2Hyp', 
               pokemon['Attack'] + pokemon['Defense'] + pokemon['HP'] + pokemon['Sp. Atk'] + pokemon['Sp. Def'] + pokemon['Speed'])

# pokemon.insert(pokemon.columns.get_loc('Defense') + 1, 'A/D_Ratio', pokemon['Attack'] / pokemon['Defense'])

In [53]:
pokemon

,#,Name,Type 1,Type 2,Total,Total2Hyp,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,600,80,110,120,130,90,70,6,True

In [54]:
pokemon['Total'] == pokemon['Total2Hyp']

0      True
1      True
2      True
3      True
4      True
       ...
795    True
796    True
797    True
798    True
799    True
Length: 800, dtype: bool

In [55]:
# To drop a column 1st way
# pokemon.drop(columns=['Total2Hyp'])
# To drop a column 2nd way
pokemon.drop(['Total2Hyp'], axis=1, inplace=True)

display(pokemon)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [56]:
# your code here
display(pokemon.columns)

display(pokemon.head(10))

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [57]:
"""# Perform One Hot Encoding on 'Type 1' and 'Type 2'
# THIS Created a One hot encoding and printed it the whole columns!!! I did not want this so 

pokemon_encoded = pd.get_dummies(pokemon, columns=['Type 1', 'Type 2'], )
display(pokemon_encoded)"""

"# Perform One Hot Encoding on 'Type 1' and 'Type 2'\n# THIS Created a One hot encoding and printed it the whole columns!!! I did not want this so \n\npokemon_encoded = pd.get_dummies(pokemon, columns=['Type 1', 'Type 2'], )\ndisplay(pokemon_encoded)"

In [58]:
# Perform One Hot Encoding on 'Type 1' and 'Type 2' separetely so I do not get a column all together.
type1_encoded = pd.get_dummies(pokemon['Type 1'])
type2_encoded = pd.get_dummies(pokemon['Type 2'])

display(type1_encoded)
display(type2_encoded)

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
796,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
797,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
798,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
799,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
796,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
797,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
798,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
799,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [59]:
# Combine the encoded columns into a single DataFrame
df_encoded = pd.concat([type1_encoded, type2_encoded], axis=1)
display(df_encoded.head(10))

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [60]:
df_encoded.isnull().any().any() # <-- To know if there is any NaN / not nulls in the whole new DF, first is for df

False

In [61]:
# Fill NaN values with 0 (since some Pokémon don't have a 'Type 2')

"""
This is redundat as it already converts to False if not a  value
df_encoded2 = df_encoded.fillna(0)
df_encoded2"""

'\nThis is redundat as it already converts to False if not a  value\ndf_encoded2 = df_encoded.fillna(0)\ndf_encoded2'

In [68]:
# Ensure that the encodings are integers
# alternative I could have done it directly but I will leave it like this for next time
"""
# Perform One Hot Encoding on 'Type 1' and 'Type 2'
type1_encoded = pd.get_dummies(df['Type 1'], prefix='Type1').astype(int)
type2_encoded = pd.get_dummies(df['Type 2'], prefix='Type2').astype(int)
"""

df_encoded = df_encoded.astype(int)

# Add the original index to the encoded DataFrame
df_encoded.index = pokemon.index
df_encoded

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
797,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
798,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
799,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [70]:
# your code here
# Your encoded DataFrame (from earlier)
df_encoded['Total'] = pokemon['Total']
df_encoded

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,...,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,Total
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,318
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,405
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,525
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,625
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,600
796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,700
797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,600
798,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,680
799,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,600

In [72]:
# Calculate correlations between 'Total' and all type columns
correlations = df_encoded.corr()['Total']
correlations

Bug        -0.143957
Dark        0.017818
Dragon      0.196532
Electric    0.016715
Fairy      -0.026948
Fighting   -0.029086
Fire        0.050527
Flying      0.029504
Ghost       0.007594
Grass      -0.036057
Ground      0.004082
Ice        -0.002412
Normal     -0.104150
Poison     -0.057123
Psychic     0.094364
Rock        0.037524
Steel       0.082000
Water      -0.015640
Bug        -0.021375
Dark        0.065844
Dragon      0.115240
Electric    0.014669
Fairy      -0.024606
Fighting    0.138726
Fire        0.073234
Flying      0.054048
Ghost      -0.004885
Grass      -0.039224
Ground      0.016486
Ice         0.100870
Normal     -0.013956
Poison     -0.067837
Psychic     0.076054
Rock       -0.000512
Steel       0.070307
Water      -0.018800
Total       1.000000
Name: Total, dtype: float64

In [80]:
# Sort correlations in descending order and pick the top one
sorted_correlations = correlations.sort_values(ascending=False)

In [ ]:
top_type = sorted_correlations.index[1]  # Skip 'Total' itself
top_value = sorted_correlations[1]

print(f"The type most likely to have the highest 'Total' is: {top_type} (Correlation = {top_value:.2f})")

The type most likely to have the highest 'Total' is: Dragon (Correlation = 0.20)

/var/folders/tx/45hhw1yn48jfdqn2hmnhbhvw0000gn/T/ipykernel_59802/1008185827.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  top_value = sorted_correlations[1]

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [ ]:
# your code here
# I do not understand!!